<!DOCTYPE html>
<html lang="zxx">

<head>

  <!-- Meta Tag -->
  <!-- Title Tag  -->
  <title>@yield('title')</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <!-- Web Font -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">

  <!-- StyleSheet -->
  <link rel="manifest" href="/manifest.json">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="./public/frontend/css/bootstrap.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="./public/frontend/css/magnific-popup.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="./public/frontend/css/font-awesome.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="./public/frontend/css/jquery.fancybox.min.css">
  <!-- Themify Icons -->
  <link rel="stylesheet" href="./public/frontend/css/themify-icons.css">
  <!-- Nice Select CSS -->
  <link rel="stylesheet" href="./public/frontend/css/niceselect.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="./public/frontend/css/animate.css">
  <!-- Flex Slider CSS -->
  <link rel="stylesheet" href="./public/frontend/css/flex-slider.min.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="./public/frontend/css/owl-carousel.css">
  <!-- Slicknav -->
  <link rel="stylesheet" href="./public/frontend/css/slicknav.min.css">
  <!-- Jquery Ui -->
  <link rel="stylesheet" href="./public/frontend/css/jquery-ui.css">

  <!-- Eshop StyleSheet -->
  <link rel="stylesheet" href="./public/frontend/css/reset.css">
  <link rel="stylesheet" href="./public/frontend/css/style.css">
  <link rel="stylesheet" href="./public/frontend/css/responsive.css">
  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2e5abf393162001291e431&product=inline-share-buttons'
    async='async'></script>
  <style>
    /* Multilevel dropdown */
    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu>a:after {
      content: "\f0da";
      float: right;
      border: none;
      font-family: 'FontAwesome';
    }

    .dropdown-submenu>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: 0px;
      margin-left: 0px;
    }
  </style>

</head>

<body class="js">

  <!-- Preloader -->
  <div class="preloader">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- End Preloader -->

  <!-- Header -->

  <header class="header shop">
    <!-- Topbar -->
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-12">
            <!-- Top Left -->
            <div class="top-left">
              <ul class="list-main">

                <li><i class="ti-headphone-alt"></i>+225 07 78 37 66 39 / +225 05 05 66 43 44</li>
                <li><i class="ti-email"></i> koneabdoulaziz13@gmail.com</li>
              </ul>
            </div>
            <!--/ End Top Left -->
          </div>
          <div class="col-lg-6 col-md-12 col-12">
            <!-- Top Right -->
            <div class="right-content">
              <ul class="list-main">
                <li><i class="ti-location-pin"></i> <a href="">Cocody Saint-Jean</a></li>

                <li><i class="ti-user"></i> <a href="#" target="_blank">KONE Abdoul Aziz</a></li>


              </ul>
            </div>
            <!-- End Top Right -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Topbar -->
    <div class="middle-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-12">
            <!-- Logo -->
            <div class="logo">
              
              <a href="{{route('home')}}"><img src="@foreach($settings as $data) {{$data->logo}} @endforeach"
                  alt="logo"></a>
            </div>
            <!--/ End Logo -->
            <!-- Search Form -->
            <div class="search-top">
              <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
              <!-- Search Form -->
              <div class="search-top">
                <form class="search-form">
                  <input type="text" placeholder="Search here..." name="search">
                  <button value="search" type="submit"><i class="ti-search"></i></button>
                </form>
              </div>
              <!--/ End Search Form -->
            </div>
            <!--/ End Search Form -->
            <div class="mobile-nav"></div>
          </div>
          <div class="col-lg-8 col-md-7 col-12">
            <div class="search-bar-top">
              <div class="search-bar">
                <select>
                  <option>Tous les projets</option>
                  <option>Smartlocation</option>
                  <option>Les moyens généraux</option>
                </select>
                <form method="POST" action="{{route('product.search')}}">
                  <input name="search" placeholder="Search Products Here....." type="search">
                  <button class="btnn" type="submit"><i class="ti-search"></i></button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12">
            <div class="right-bar">
              <!-- Search Form -->
              <div class="sinlge-bar shopping">
                
                <a href="{{route('wishlist')}}" class="single-icon"><i class="fa fa-heart-o"></i> <span
                    class="total-count">{{Helper::wishlistCount()}}</span></a>
                <!-- Shopping Item -->
                <div class="shopping-item">
                  <div class="dropdown-cart-header">
                    <span>{{count(Helper::getAllProductFromWishlist())}} Items</span>
                    <a href="{{route('wishlist')}}">View Wishlist</a>
                  </div>
                  <ul class="shopping-list">
                   
                    <li>
                      <a href="{{route('wishlist-delete',$data->id)}}" class="remove" title="Remove this item"><i
                          class="fa fa-remove"></i></a>
                      <a class="cart-img" href="#"><img src="{{$photo[0]}}" alt="{{$photo[0]}}"></a>
                      <h4><a href="{{route('product-detail',$data->product['slug'])}}"
                          target="_blank">{{$data->product['title']}}</a></h4>
                      <p class="quantity">{{$data->quantity}} x - <span
                          class="amount">${{number_format($data->price,2)}}</span></p>
                    </li>

                  </ul>
                  <div class="bottom">
                    <div class="total">
                      <span>Total</span>
                      <span class="total-amount">${{number_format(Helper::totalWishlistPrice(),2)}}</span>
                    </div>
                    <a href="{{route('cart')}}" class="btn animate">Cart</a>
                  </div>
                </div>
                @endauth
                <!--/ End Shopping Item -->
              </div>
              {{-- <div class="sinlge-bar">
                <a href="{{route('wishlist')}}" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              </div> --}}
              <div class="sinlge-bar shopping">
                <a href="{{route('cart')}}" class="single-icon"><i class="ti-bag"></i> <span
                    class="total-count">{{Helper::cartCount()}}</span></a>
                <!-- Shopping Item -->
                @auth
                <div class="shopping-item">
                  <div class="dropdown-cart-header">
                    <span>{{count(Helper::getAllProductFromCart())}} Items</span>
                    <a href="{{route('cart')}}">View Cart</a>
                  </div>
                  <ul class="shopping-list">
                    {{-- {{Helper::getAllProductFromCart()}} --}}
                    @foreach(Helper::getAllProductFromCart() as $data)
                    @php
                    $photo=explode(',',$data->product['photo']);
                    @endphp
                    <li>
                      <a href="{{route('cart-delete',$data->id)}}" class="remove" title="Remove this item"><i
                          class="fa fa-remove"></i></a>
                      <a class="cart-img" href="#"><img src="{{$photo[0]}}" alt="{{$photo[0]}}"></a>
                      <h4><a href="{{route('product-detail',$data->product['slug'])}}"
                          target="_blank">{{$data->product['title']}}</a></h4>
                      <p class="quantity">{{$data->quantity}} x - <span
                          class="amount">${{number_format($data->price,2)}}</span></p>
                    </li>
                    @endforeach
                  </ul>
                  <div class="bottom">
                    <div class="total">
                      <span>Total</span>
                      <span class="total-amount">${{number_format(Helper::totalCartPrice(),2)}}</span>
                    </div>
                    <a href="{{route('checkout')}}" class="btn animate">Checkout</a>
                  </div>
                </div>
                @endauth
                <!--/ End Shopping Item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
      <div class="container">
        <div class="cat-nav-head">
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="menu-area">
                <!-- Main Menu -->
                <nav class="navbar navbar-expand-lg">
                  <div class="navbar-collapse">
                    <div class="nav-inner">
                      <ul class="nav main-menu menu navbar-nav">
                        <li class="{{Request::path()=='home' ? 'active' : ''}}"><a href="{{route('home')}}">Home</a>
                        </li>
                        <li class="{{Request::path()=='about-us' ? 'active' : ''}}"><a
                            href="{{route('about-us')}}">About Us</a></li>
                        <li
                          class="@if(Request::path()=='product-grids'||Request::path()=='product-lists')  active  @endif">
                          <a href="{{route('product-grids')}}">Products</a><span class="new">New</span>
                        </li>
                        {{Helper::getHeaderCategory()}}
                        <li class="{{Request::path()=='blog' ? 'active' : ''}}"><a href="{{route('blog')}}">Blog</a>
                        </li>

                        <li class="{{Request::path()=='contact' ? 'active' : ''}}"><a
                            href="{{route('contact')}}">Contact Us</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <!--/ End Main Menu -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Header Inner -->
  </header>


  <!--/ End Header -->


  <!-- Slider Area -->
  @if(count($banners)>0)
  <section id="Gslider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      @foreach($banners as $key=>$banner)
      <li data-target="#Gslider" data-slide-to="{{$key}}" class="{{(($key==0)? 'active' : '')}}"></li>
      @endforeach

    </ol>
    <div class="carousel-inner" role="listbox">
      @foreach($banners as $key=>$banner)
      <div class="carousel-item {{(($key==0)? 'active' : '')}}">
        <img class="first-slide" src="{{$banner->photo}}" alt="First slide">
        <div class="carousel-caption d-none d-md-block text-left">
          <h1 class="wow fadeInDown">{{$banner->title}}</h1>
          <p>{!! html_entity_decode($banner->description) !!}</p>
          <a class="btn btn-lg ws-btn wow fadeInUpBig" href="{{route('product-grids')}}" role="button">Shop Now<i
              class="far fa-arrow-alt-circle-right"></i></i></a>
        </div>
      </div>
      @endforeach
    </div>
    <a class="carousel-control-prev" href="#Gslider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#Gslider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </section>
  @endif

  <!--/ End Slider Area -->

  <!-- Start Small Banner  -->
  <section class="small-banner section">
    <div class="container-fluid">
      <div class="row">
        @php
        $category_lists=DB::table('categories')->where('status','active')->limit(3)->get();
        @endphp
        @if($category_lists)
        @foreach($category_lists as $cat)
        @if($cat->is_parent==1)
        <!-- Single Banner  -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-banner">
            @if($cat->photo)
            <img src="{{$cat->photo}}" alt="{{$cat->photo}}">
            @else
            <img src="https://via.placeholder.com/600x370" alt="#">
            @endif
            <div class="content">
              <h3>{{$cat->title}}</h3>
              <a href="{{route('product-cat',$cat->slug)}}">Discover Now</a>
            </div>
          </div>
        </div>
        @endif
        <!-- /End Single Banner  -->
        @endforeach
        @endif
      </div>
    </div>
  </section>
  <!-- End Small Banner -->

  <!-- Start Product Area -->
  <div class="product-area section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Trending Item</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="product-info">
            <div class="nav-main">
              <!-- Tab Nav -->
              <ul class="nav nav-tabs filter-tope-group" id="myTab" role="tablist">
                @php
                $categories=DB::table('categories')->where('status','active')->where('is_parent',1)->get();
                // dd($categories);
                @endphp
                @if($categories)
                <button class="btn" style="background:black" data-filter="*">
                  All Products
                </button>
                @foreach($categories as $key=>$cat)

                <button class="btn" style="background:none;color:black;" data-filter=".{{$cat->id}}">
                  {{$cat->title}}
                </button>
                @endforeach
                @endif
              </ul>
              <!--/ End Tab Nav -->
            </div>
            <div class="tab-content isotope-grid" id="myTabContent">
              <!-- Start Single Tab -->
              @if($product_lists)
              @foreach($product_lists as $key=>$product)
              <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{$product->cat_id}}">
                <div class="single-product">
                  <div class="product-img">
                    <a href="{{route('product-detail',$product->slug)}}">
                      @php
                      $photo=explode(',',$product->photo);
                      // dd($photo);
                      @endphp
                      <img class="default-img" src="{{$photo[0]}}" alt="{{$photo[0]}}">
                      <img class="hover-img" src="{{$photo[0]}}" alt="{{$photo[0]}}">
                      @if($product->stock<=0) <span class="out-of-stock">Sale out</span>
                        @elseif($product->condition=='new')
                        <span class="new">New</span @elseif($product->condition=='hot')
                        <span class="hot">Hot</span>
                        @else
                        <span class="price-dec">{{$product->discount}}% Off</span>
                        @endif


                    </a>
                    <div class="button-head">
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#{{$product->id}}" title="Quick View" href="#"><i
                            class=" ti-eye"></i><span>Quick Shop</span></a>
                        <a title="Wishlist" href="{{route('add-to-wishlist',$product->slug)}}"><i
                            class=" ti-heart "></i><span>Add to Wishlist</span></a>
                      </div>
                      <div class="product-action-2">
                        <a title="Add to cart" href="{{route('add-to-cart',$product->slug)}}">Add to cart</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-content">
                    <h3><a href="{{route('product-detail',$product->slug)}}">{{$product->title}}</a></h3>
                    <div class="product-price">
                      @php
                      $after_discount=($product->price-($product->price*$product->discount)/100);
                      @endphp
                      <span>${{number_format($after_discount,2)}}</span>
                      <del style="padding-left:4%;">${{number_format($product->price,2)}}</del>
                    </div>
                  </div>
                </div>
              </div>
              @endforeach

              <!--/ End Single Tab -->
              @endif

              <!--/ End Single Tab -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Product Area -->
  {{-- @php
  $featured=DB::table('products')->where('is_featured',1)->where('status','active')->orderBy('id','DESC')->limit(1)->get();
  @endphp --}}
  <!-- Start Midium Banner  -->
  <section class="midium-banner">
    <div class="container">
      <div class="row">
        @if($featured)
        @foreach($featured as $data)
        <!-- Single Banner  -->
        <div class="col-lg-6 col-md-6 col-12">
          <div class="single-banner">
            @php
            $photo=explode(',',$data->photo);
            @endphp
            <img src="{{$photo[0]}}" alt="{{$photo[0]}}">
            <div class="content">
              <p>{{$data->cat_info['title']}}</p>
              <h3>{{$data->title}} <br>Up to<span> {{$data->discount}}%</span></h3>
              <a href="{{route('product-detail',$data->slug)}}">Shop Now</a>
            </div>
          </div>
        </div>
        <!-- /End Single Banner  -->
        @endforeach
        @endif
      </div>
    </div>
  </section>
  <!-- End Midium Banner -->

  <!-- Start Most Popular -->
  <div class="product-area most-popular section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Hot Item</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="owl-carousel popular-slider">
            @foreach($product_lists as $product)
            @if($product->condition=='hot')
            <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-img">
                <a href="{{route('product-detail',$product->slug)}}">
                  @php
                  $photo=explode(',',$product->photo);
                  // dd($photo);
                  @endphp
                  <img class="default-img" src="{{$photo[0]}}" alt="{{$photo[0]}}">
                  <img class="hover-img" src="{{$photo[0]}}" alt="{{$photo[0]}}">
                  {{-- <span class="out-of-stock">Hot</span> --}}
                </a>
                <div class="button-head">
                  <div class="product-action">
                    <a data-toggle="modal" data-target="#{{$product->id}}" title="Quick View" href="#"><i
                        class=" ti-eye"></i><span>Quick Shop</span></a>
                    <a title="Wishlist" href="{{route('add-to-wishlist',$product->slug)}}"><i
                        class=" ti-heart "></i><span>Add to Wishlist</span></a>
                  </div>
                  <div class="product-action-2">
                    <a href="{{route('add-to-cart',$product->slug)}}">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h3><a href="{{route('product-detail',$product->slug)}}">{{$product->title}}</a></h3>
                <div class="product-price">
                  <span class="old">${{number_format($product->price,2)}}</span>
                  @php
                  $after_discount=($product->price-($product->price*$product->discount)/100)
                  @endphp
                  <span>${{number_format($after_discount,2)}}</span>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
            @endif
            @endforeach
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Most Popular Area -->

  <!-- Start Shop Home List  -->
  <section class="shop-home-list section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="row">
            <div class="col-12">
              <div class="shop-section-title">
                <h1>Latest Items</h1>
              </div>
            </div>
          </div>
          <div class="row">
            @php
            $product_lists=DB::table('products')->where('status','active')->orderBy('id','DESC')->limit(6)->get();
            @endphp
            @foreach($product_lists as $product)
            <div class="col-md-4">
              <!-- Start Single List  -->
              <div class="single-list">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="list-image overlay">
                      @php
                      $photo=explode(',',$product->photo);
                      // dd($photo);
                      @endphp
                      <img src="{{$photo[0]}}" alt="{{$photo[0]}}">
                      <a href="{{route('add-to-cart',$product->slug)}}" class="buy"><i
                          class="fa fa-shopping-bag"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 no-padding">
                    <div class="content">
                      <h4 class="title"><a href="#">{{$product->title}}</a></h4>
                      <p class="price with-discount">${{number_format($product->discount,2)}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single List  -->
            </div>
            @endforeach

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Shop Home List  -->

  <!-- Start Shop Blog  -->
  <section class="shop-blog section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>From Our Blog</h2>
          </div>
        </div>
      </div>
      <div class="row">
        @if($posts)
        @foreach($posts as $post)
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Start Single Blog  -->
          <div class="shop-single-blog">
            <img src="{{$post->photo}}" alt="{{$post->photo}}">
            <div class="content">
              <p class="date">{{$post->created_at->format('d M , Y. D')}}</p>
              <a href="{{route('blog.detail',$post->slug)}}" class="title">{{$post->title}}</a>
              <a href="{{route('blog.detail',$post->slug)}}" class="more-btn">Continue Reading</a>
            </div>
          </div>
          <!-- End Single Blog  -->
        </div>
        @endforeach
        @endif

      </div>
    </div>
  </section>
  <!-- End Shop Blog  -->

  <!-- Start Shop Services Area -->
  <section class="shop-services section home">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Start Single Service -->
          <div class="single-service">
            <i class="ti-rocket"></i>
            <h4>Free shiping</h4>
            <p>Orders over $100</p>
          </div>
          <!-- End Single Service -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Start Single Service -->
          <div class="single-service">
            <i class="ti-reload"></i>
            <h4>Free Return</h4>
            <p>Within 30 days returns</p>
          </div>
          <!-- End Single Service -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Start Single Service -->
          <div class="single-service">
            <i class="ti-lock"></i>
            <h4>Sucure Payment</h4>
            <p>100% secure payment</p>
          </div>
          <!-- End Single Service -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Start Single Service -->
          <div class="single-service">
            <i class="ti-tag"></i>
            <h4>Best Peice</h4>
            <p>Guaranteed price</p>
          </div>
          <!-- End Single Service -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Shop Services Area -->

  @include('frontend.layouts.newsletter')

  <!-- Modal -->
  @if($product_lists)
  @foreach($product_lists as $key=>$product)
  <div class="modal fade" id="{{$product->id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
              aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">
          <div class="row no-gutters">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <!-- Product Slider -->
              <div class="product-gallery">
                <div class="quickview-slider-active">
                  @php
                  $photo=explode(',',$product->photo);
                  // dd($photo);
                  @endphp
                  @foreach($photo as $data)
                  <div class="single-slider">
                    <img src="{{$data}}" alt="{{$data}}">
                  </div>
                  @endforeach
                </div>
              </div>
              <!-- End Product slider -->
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="quickview-content">
                <h2>{{$product->title}}</h2>
                <div class="quickview-ratting-review">
                  <div class="quickview-ratting-wrap">
                    <div class="quickview-ratting">
                      {{-- <i class="yellow fa fa-star"></i>
                      <i class="yellow fa fa-star"></i>
                      <i class="yellow fa fa-star"></i>
                      <i class="yellow fa fa-star"></i>
                      <i class="fa fa-star"></i> --}}
                      @php
                      $rate=DB::table('product_reviews')->where('product_id',$product->id)->avg('rate');
                      $rate_count=DB::table('product_reviews')->where('product_id',$product->id)->count();
                      @endphp
                      @for($i=1; $i<=5; $i++) @if($rate>=$i)
                        <i class="yellow fa fa-star"></i>
                        @else
                        <i class="fa fa-star"></i>
                        @endif
                        @endfor
                    </div>
                    <a href="#"> ({{$rate_count}} customer review)</a>
                  </div>
                  <div class="quickview-stock">
                    @if($product->stock >0)
                    <span><i class="fa fa-check-circle-o"></i> {{$product->stock}} in stock</span>
                    @else
                    <span><i class="fa fa-times-circle-o text-danger"></i> {{$product->stock}} out stock</span>
                    @endif
                  </div>
                </div>
                @php
                $after_discount=($product->price-($product->price*$product->discount)/100);
                @endphp
                <h3><small><del class="text-muted">${{number_format($product->price,2)}}</del></small>
                  ${{number_format($after_discount,2)}} </h3>
                <div class="quickview-peragraph">
                  <p>{!! html_entity_decode($product->summary) !!}</p>
                </div>
                @if($product->size)
                <div class="size">
                  <div class="row">
                    <div class="col-lg-6 col-12">
                      <h5 class="title">Size</h5>
                      <select>
                        @php
                        $sizes=explode(',',$product->size);
                        // dd($sizes);
                        @endphp
                        @foreach($sizes as $size)
                        <option>{{$size}}</option>
                        @endforeach
                      </select>
                    </div>
                    {{-- <div class="col-lg-6 col-12">
                      <h5 class="title">Color</h5>
                      <select>
                        <option selected="selected">orange</option>
                        <option>purple</option>
                        <option>black</option>
                        <option>pink</option>
                      </select>
                    </div> --}}
                  </div>
                </div>
                @endif
                <form action="{{route('single-add-to-cart')}}" method="POST" class="mt-4">
                  @csrf
                  <div class="quantity">
                    <!-- Input Order -->
                    <div class="input-group">
                      <div class="button minus">
                        <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus"
                          data-field="quant[1]">
                          <i class="ti-minus"></i>
                        </button>
                      </div>
                      <input type="hidden" name="slug" value="{{$product->slug}}">
                      <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                      <div class="button plus">
                        <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                          <i class="ti-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!--/ End Input Order -->
                  </div>
                  <div class="add-to-cart">
                    <button type="submit" class="btn">Add to cart</button>
                    <a href="{{route('add-to-wishlist',$product->slug)}}" class="btn min"><i class="ti-heart"></i></a>
                  </div>
                </form>
                <div class="default-social">
                  <!-- ShareThis BEGIN -->
                  <div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @endforeach
  @endif
  <!-- Modal end -->


  <!-- Start Footer Area -->
  <footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer about">
              <div class="logo">
                <a href="index.html"><img src="{{asset('backend/img/logo2.png')}}" alt="#"></a>
              </div>
              @php
              $settings=DB::table('settings')->get();
              @endphp
              <p class="text">@foreach($settings as $data) {{$data->short_des}} @endforeach</p>
              <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">@foreach($settings as $data)
                    {{$data->phone}} @endforeach</a></span></p>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer links">
              <h4>Information</h4>
              <ul>
                <li><a href="{{route('about-us')}}">About Us</a></li>
                <li><a href="#">Faq</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="{{route('contact')}}">Contact Us</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer links">
              <h4>Customer Service</h4>
              <ul>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Money-back</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer social">
              <h4>Get In Tuch</h4>
              <!-- Single Widget -->
              <div class="contact">
                <ul>
                  <li>@foreach($settings as $data) {{$data->address}} @endforeach</li>
                  <li>@foreach($settings as $data) {{$data->email}} @endforeach</li>
                  <li>@foreach($settings as $data) {{$data->phone}} @endforeach</li>
                </ul>
              </div>
              <!-- End Single Widget -->
              <div class="sharethis-inline-follow-buttons"></div>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
      <div class="container">
        <div class="inner">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="left">
                <p>Copyright © {{date('Y')}} <a href="https://github.com/Prajwal100" target="_blank">Prajwal Rai</a> -
                  All Rights Reserved.</p>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="right">
                <img src="{{asset('backend/img/payments.png')}}" alt="#">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /End Footer Area -->

  <!-- Jquery -->
  <script src="./public/frontend/js/jquery.min.js"></script>
  <script src="./public/frontend/js/jquery-migrate-3.0.0.js"></script>
  <script src="./public/frontend/js/jquery-ui.min.js"></script>
  <!-- Popper JS -->
  <script src="./public/frontend/js/popper.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="./public/frontend/js/bootstrap.min.js"></script>
  <!-- Color JS -->
  <script src="./public/frontend/js/colors.js"></script>
  <!-- Slicknav JS -->
  <script src="./public/frontend/js/slicknav.min.js"></script>
  <!-- Owl Carousel JS -->
  <script src="./public/frontend/js/owl-carousel.js"></script>
  <!-- Magnific Popup JS -->
  <script src="./public/frontend/js/magnific-popup.js"></script>
  <!-- Waypoints JS -->
  <script src="./public/frontend/js/waypoints.min.js"></script>
  <!-- Countdown JS -->
  <script src="./public/frontend/js/finalcountdown.min.js"></script>
  <!-- Nice Select JS -->
  <script src="./public/frontend/js/nicesellect.js"></script>
  <!-- Flex Slider JS -->
  <script src="./public/frontend/js/flex-slider.js"></script>
  <!-- ScrollUp JS -->
  <script src="./public/frontend/js/scrollup.js"></script>
  <!-- Onepage Nav JS -->
  <script src="./public/frontend/js/onepage-nav.min.js"></script>
  {{-- Isotope --}}
  <script src="./public/frontend/js/isotope/isotope.pkgd.min.js"></script>
  <!-- Easing JS -->
  <script src="./public/frontend/js/easing.js"></script>

  <!-- Active JS -->
  <script src="./public/frontend/js/active.js"></script>


  @stack('scripts')
  <script>
    setTimeout(function () {
      $('.alert').slideUp();
    }, 5000);
    $(function () {
      // ------------------------------------------------------- //
      // Multi Level dropdowns
      // ------------------------------------------------------ //
      $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function (event) {
        event.preventDefault();
        event.stopPropagation();

        $(this).siblings().toggleClass("show");


        if (!$(this).next().hasClass('show')) {
          $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
          $('.dropdown-submenu .show').removeClass("show");
        });

      });
    });
  </script>
</body>

</html>